h1{color:#ff0000;font-size:24pt;text-align:center;font-family:serif;text-decoration:underline}

	p{color:#fff000;font-size:16pt; text-decoration:underline;font-family:cursive;text align:left}

h2{color:#ff0000;font-size:22pt;text-align:center;font-family:monospace}

	

a{color:#ffff00;font-size:23pt;font-family:serif;}

	pre{color:#ffff00;font-size:16pt;font-family:Verdana;text align:left}

h1.sher{color:#ffffff;font-size:26pt;text-align:center;font-family:Arial}

		pre.sher{color:#ffffff;font-size:14pt;font-family:fantasy;text-align:left}

h1.bf{color:#ffff00;font-size:32;font-family:cursive}

	pre.bf{color:#ffff00;font-size:16;font-family:cursive;text-align:left}

h1.rc{color:#ff0000;font-size:34;font-family:Times New Roman}

	pre.rc{color:#ff0000;font-size:20;font-family:Times New Roman;text-align:left}

h1.ha{color:#00ffff;font-size:30;font-family:monospace}

	pre.ha{color:#00ffff;font-size:17;font-family:monospace;text-align:left}



